@font-face {
    font-family: helvetica;
    src: url(../../fonts/Helvetica.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../../fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: helveticaLight;
    src: url(../../fonts/helvetica-light-587ebe5a59211.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../../fonts/Roboto-Bold.ttf);
}